body {
  background-color: rgb(165, 132, 42);
  text-align: center;
}

ul {
  list-style-position: inside;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
   text-align: center;
   font-size: 40px;

    display: block;
    list-style-type: circle;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h3{
  color: rgb(73, 5, 64);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

h4{
    font-size: 25px;
    margin: 0;
}

a{
  margin: 10px;
  color: black;
  font-size: 20px;

}

